<div id="app" [class]="isDark ? 'dark' : ''">
  <div class="bg-bgLight text-textLight dark:bg-bgDark dark:text-textDark desktop:h-screen desktop:px-52">
    <div id="header" class="p-5 desktop:flex desktop:justify-between desktop:items-center">
      <div class="pb-3 border-b desktop:border-b-0">
        <h1 class="font-bold text-xl desktop:text-desk">Social Media Dashboard</h1>
        <h2 class="text-txtLight dark:text-txtDark font-bold">Total Followers: 23,004</h2>
      </div>
      <div class="pt-3 desktop:pt-0 flex justify-between items-center desktop:gap-x-4">
        <p class="font-bold text-txtLight dark:text-txtDark">Dark Mode</p>
        <div class="flex items-center justify-center">
          <label for="toggle" class="cursor-pointer">
            <div class="relative">
              <input (change)="toggleMode()" type="checkbox" id="toggle" class="sr-only" (click)="isDark = !isDark">
              <div class="background block bg-gradient-to-r from-toggleDark1 to-toggleDark2 w-16 h-8 rounded-full"></div>
              <div class="dot absolute left-1 top-1 bg-bgDark w-6 h-6 rounded-full transition"></div>
            </div>
          </label>
        </div>
      </div>
    </div>
    <div id="stats" class="p-5 flex flex-col desktop:flex-row desktop:justify-between desktop:items-center desktop:gap-y-0 desktop:gap-x-8 gap-y-5">
      <div *ngFor="let stat of stats" class="desktop:w-96 desktop:rounded-md rounded-lg bg-cardBgLight dark:bg-cardBgDark">
        <div [class]="getBrandColor(stat.color)" class="h-1 w-full rounded-t-lg"></div>
        <div class="flex flex-col gap-y-2 p-10">
          <div class="flex items-center justify-center gap-x-2">
            <img [src]="stat.logo" [alt]="stat.logoAlt"/>
            <p class="text-txtLight dark:text-txtDark font-bold text-cardHeading">{{ stat.name }}</p>
          </div>
          <div class="text-center">
            <p class="font-bold text-xxl">{{ stat.followers }}</p>
            <p class="uppercase text-txtLight dark:text-txtDark">{{ stat.type }}</p>
          </div>
          <div [class]="getColor(stat.positive)" class="flex justify-center items-center gap-x-1 pt-3">
            <img [src]="stat.icon" [alt]="stat.iconAlt"/>
            <p class="font-bold text-cardHeading">{{ stat.today }} Today</p>
          </div>
        </div>
      </div>
    </div>
    <div id="todayStats" class="p-5 flex flex-col gap-y-5">
      <h3 class="text-txtLight dark:text-textDark text-xl font-bold pb-4">Overview - Today</h3>
      <div class="flex flex-col desktop:flex-none desktop:grid desktop:grid-cols-4 desktop:gap-8 gap-y-4">
        <div *ngFor="let today of todayStats" class="flex flex-col gap-y-4 rounded-md bg-cardBgLight dark:bg-cardBgDark p-5 desktop:px-7">
          <div class="flex justify-between items-center">
            <p class="text-txtLight dark:text-txtDark font-bold">{{ today.title }}</p>
            <img [src]="today.logo" [alt]="today.logoAlt"/>
          </div>
          <div class="flex justify-between items-center ">
            <p class="font-bold text-xl desktop:text-desk">{{ today.num }}</p>
            <div [class]="getColor(today.positive)" class="flex justify-center items-center gap-x-1">
              <img [src]="today.icon" [alt]="today.iconAlt"/>
              <p class="font-bold text-cardHeading">{{ today.percentage }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>